<div class="col-lg-12 text-right">
<h3 style="margin-bottom:0px;"><%= current_empresa.nombre %></h3>
<span><%= link_to "Ver mis envíos", current_empresa %></span>
<span><%= pluralize(current_empresa.envioempresas.count, "envío") %></span>
</div>