<div class="row">

	<div class="col-lg-12 margin-top-20">

		<%= form_for(@envioempresa, html: { class: "form-inline" }) do |f| %>

		  <%= render 'shared/error_envioempresa' %>

		  	<div class="row">

		  		<div class="col-lg-7">
			
			<h4>Datos de quien envía:</h4>

		    <%= f.text_field :e_calle_re, placeholder: "Calle/Avenida", class: 'margin0 inputHeight form-control', size: '25' %>
		    <%= f.text_field :e_num_ext_re, placeholder: "# Exterior", class: 'margin0 inputHeight form-control', size: '10' %>
		    <%= f.text_field :e_num_int_re, placeholder: "# Interior", class: 'margin0 inputHeight form-control', size: '10' %>
		    <%= f.text_field :e_colonia_re, placeholder: "Colonia", class: 'margin0 inputHeight form-control' %>
		    <%= f.text_field :e_cp_re, placeholder: "CP", class: 'margin0 inputHeight form-control', size: '5' %>
		    <%= f.text_field :e_delegacion_re, placeholder: "Delegación", class: 'margin0 inputHeight form-control' %>
		    <%= f.text_field :e_remitente, placeholder: "Nombre de quien envía", class: 'margin0 inputHeight form-control', size: '57' %>

		    <h4>Datos de quien recibe:</h4>

		    <%= f.text_field :e_calle_de, placeholder: "Calle/Avenida", class: 'margin0 inputHeight form-control', size: '25' %>
		    <%= f.text_field :e_num_ext_de, placeholder: "# Exterior", class: 'margin0 inputHeight form-control', size: '10' %>
		    <%= f.text_field :e_num_int_de, placeholder: "# Interior", class: 'margin0 inputHeight form-control', size:'10' %>
		    <%= f.text_field :e_colonia_de, placeholder: "Colonia", class: 'margin0 inputHeight form-control' %>
		    <%= f.text_field :e_cp_de, placeholder: "CP", class: 'margin0 inputHeight form-control', size: '5' %>
		    <%= f.text_field :e_delegacion_de, placeholder: "Delegación", class: 'margin0 inputHeight form-control' %>
		    <%= f.text_field :e_destinatario, placeholder: "Nombre de quien recibe", class: 'margin0 inputHeight form-control', size: '57' %>

		    	</div>
				
				<div class="col-lg-4">

			<p class="Agenda">¿Necesitas una fecha y hora en particular?</p>
			<p class="subAgenda">Si no se especifica, estás optando por el servicio al momento.</p>
			
			<% if (Time.now).strftime("%H:%M") < '17:40' && (Time.now).strftime("%H:%M") > '08:30' %>

			<%= f.text_field :fecha, placeholder: "Fecha", "data-provide" => 'datepicker', class: 'datepicker1 margin0 inputHeight form-control' %>

		    <%= f.time_field :hora, placeholder: "Hora", :value => (Time.now+2.hours).strftime("%H:%M"), class: 'margin0 inputHeight form-control', size: '5' %>

			<% else %>

			<%= f.text_field :fecha, placeholder: "Fecha", "data-provide" => 'datepicker', class: 'datepicker2 margin0 inputHeight form-control' %>
			
			<%= f.time_field :hora, placeholder: "Hora", value: '09:00', class: 'margin0 inputHeight form-control', size: '5' %>

			<% end %>
				
		    <%= f.text_field :telefono, placeholder: "Teléfono de contacto", class: 'margin0 inputHeight form-control', size: '41' %>
		    <%= f.text_field :orden, :value => "BMDF-%.4d" % current_empresa.envioempresas.count + "-" + current_empresa.id.to_s, class: 'margin0 inputHeight noShow', readonly: true %>

		    <%= f.text_area :notas, placeholder: "Notas adicionales que necesitemos saber...", class: 'margin-bottom-0', size: '60x2' %>

		  <%= f.submit "Pedir", class: "btn btn-primary inputSubmit" %>

		<% end %>

				</div>

			</div>

	</div>

</div>

<script>
	$('.datepicker1').datepicker({
	    format: 'dd/mm/yyyy',
	    autoclose: true,
	    todayHighlight: 1,
	    startDate: new Date()
	}).datepicker("setDate", new Date());
</script>

<script>
	$('.datepicker2').datepicker({
	    format: 'dd/mm/yyyy',
	    autoclose: true,
	    startDate: "+0d"
	}).datepicker("setDate", "+0d");
</script>

