<% if @usuario.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Tu registro contiene: <%= pluralize(@usuario.errors.count, "error") %>.
    </div>
    <ul>
    <% @usuario.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>