<% if @empresa.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Tu pedido tiene <%= pluralize(@empresa.errors.count, "error") %>.
    </div>
    <ul>
    <% @empresa.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>