<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    
    <script>

      var rendererOptions = {
        draggable: true
      };
      var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
      var directionsService = new google.maps.DirectionsService();
      var map;

      function initialize() {

        var mapOptions = {
          zoom: 14,
          scrollwheel: false,
          streetViewControl: false,
          componentRestrictions: {country: "MX"},
          mapTypeControl: false
          
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(pos);
          }, 
          function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }

        directionsDisplay.setMap(map);

        google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
          computeTotalDistance(directionsDisplay.getDirections());
        });

        calcRoute();
      }

      function calcRoute() {

        var calle = document.getElementById("micropost_callere").value;
        var numeroext = document.getElementById("micropost_num_ext_re").value;
        var colonia = document.getElementById("micropost_colonia_re").value;
        var delegacion = document.getElementById("micropost_delegacion_re").value;
        var codpost = document.getElementById("micropost_cp_re").value;

        var calledest = document.getElementById("micropost_calle_de").value;
        var numeroextdest = document.getElementById("micropost_num_ext_de").value;
        var coloniadest = document.getElementById("micropost_colonia_de").value;
        var delegaciondest = document.getElementById("micropost_delegacion_de").value;
        var codpostdest = document.getElementById("micropost_cp_de").value;

        var start = calle + " " + numeroext  + "," + colonia + "," + delegacion + "," + codpost;
        var end = calledest + " " + numeroextdest  + "," + coloniadest + "," + delegaciondest + "," + codpostdest;

        var request = {
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000.00;
        document.getElementById('micropost_distancia').value = total + ' km';
        document.getElementById('micropost_carbono').value = Math.round(((total * 260) / 100.00)) + ' gramos';
        

        if (total <= 7.999) {
          document.getElementById('micropost_precio').value = '70';
        };

        if (total >= 8 && total <= 12.999) {
          document.getElementById('micropost_precio').value = '100';
        };

        if (total >= 13 && total <= 17.999) {
          document.getElementById('micropost_precio').value = '150';
        };

        if (total >= 18 && total <= 22.999) {
          document.getElementById('micropost_precio').value = '200';
        };

        if (total >= 23) {
          document.getElementById('micropost_precio').value = Math.ceil(total * 10);
        };

      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Lo sentimos: El servicio de geolocalización falló.';
        } else {
          var content = 'Tu explorador de internet no permite geolocalizarte.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>




	<div class="col-lg-12 center">

    <%= render 'shared/error_micropost' %>

    <form class="new_micropost form-inline" id="new_micropost" action="/microposts" accept-charset="UTF-8" method="post">
    	<input name="utf8" type="hidden" value="&#x2713;" />
    	<input type="hidden" name="authenticity_token" value="UkiHqeau/PKrHGKBlhz9BD8CiO4/zI60sBFmJBXT0y4JZ23kfaLR5gsrEU7P+GJMdCp9T3d90QiN7pzyiA/WYw==" />
    
      <div class="row">

        <div class="col-lg-4">

          <h4>Datos de quien envía:</h4>

          <div class="form-group">

            <input placeholder="Calle" type="text" name="micropost[callere]" id="micropost_callere" class="validate-required form-control margin0 inputHeight" size="25"/>

            <input placeholder="# exterior" size="10" type="text" name="micropost[num_ext_re]" id="micropost_num_ext_re" class="validate-required form-control margin0 inputHeight"/>

            <input placeholder="# interior" size="10" type="text" name="micropost[num_int_re]" id="micropost_num_int_re" class="form-control margin0 inputHeight"/>

            <input placeholder="Colonia" type="text" name="micropost[colonia_re]" id="micropost_colonia_re" class="validate-required form-control margin0 inputHeight"/>

            <input placeholder="CP" size="5" type="text" name="micropost[cp_re]" id="micropost_cp_re" class="validate-required form-control margin0 inputHeight"/>

            <input placeholder="Delegación" type="text" name="micropost[delegacion_re]" id="micropost_delegacion_re" class="validate-required form-control margin0 inputHeight"/>

            <input placeholder="Nombre de quien envía" type="text" name="micropost[remitente]" id="micropost_remitente" class="validate-required form-control margin0 inputHeight" size="57"/>

          </div>

          <h4>Datos de quien recibe:</h4>

          <div class="form-group">

            <input class="validate-required form-control margin0 inputHeight" placeholder="Calle" size="25" type="text" name="micropost[calle_de]" id="micropost_calle_de" />

            <input class="validate-required form-control margin0 inputHeight" placeholder="# exterior" size="10" type="text" name="micropost[num_ext_de]" id="micropost_num_ext_de" />

            <input placeholder="# interior" size="10" type="text" name="micropost[num_int_de]" id="micropost_num_int_de" class="form-control margin0 inputHeight"/>

            <input placeholder="Colonia" type="text" name="micropost[colonia_de]" id="micropost_colonia_de" class="validate-required form-control margin0 inputHeight"/>

            <input placeholder="CP" size="5" type="text" name="micropost[cp_de]" id="micropost_cp_de" class="validate-required form-control margin0 inputHeight"/>

            <input placeholder="Delegación" type="text" name="micropost[delegacion_de]" id="micropost_delegacion_de" class="validate-required form-control margin0 inputHeight"/>

            <input placeholder="Nombre de quien recibe" type="text" name="micropost[destinatario]" id="micropost_destinatario" class="validate-required form-control margin0 inputHeight" size="57"/>

            <input type="" value="Calcular distancia y precio" onclick="calcRoute()" class="btn btn-rounded width100" readonly/>

            <div class="row">

                  <div class="col-lg-12">

                    <div class="col-lg-3 col-lg-pull-2">

                    <div class="form-group text required micropost_precio text-center">
                      <label class="text required" for="micropost_precio">
                        <abbr title="required"></abbr> <i class="fa fa-money fa-2x iconsColor"></i>
                      </label>
                      <input class="string required noinputborder text-center" name="micropost[precio]" id="micropost_precio" readonly/>
                    </div>

                    </div>

                    <div class="col-lg-3 col-lg-pull-1">

                    <div class="form-group text required micropost_distancia text-center">
                      <label class="text required" for="micropost_distancia">
                        <abbr title="required"></abbr> <i class="fa fa-road fa-2x iconsColor"></i>
                      </label>
                      <input class="string required noinputborder text-center" name="micropost[distancia]" id="micropost_distancia" readonly/>
                      
                    </div>

                    </div>

                    <div class="col-lg-4">

                    <div class="form-group text required micropost_carbono text-center">
                      <label class="text required" for="micropost_carbono">
                        <abbr title="required"></abbr> <i class="fa fa-recycle fa-2x iconsColor"></i>
                      </label>
                      <input class="string required noinputborder text-center" name="micropost[carbono]" id="micropost_carbono" readonly/>
                      
                    </div>

                    </div>

                  </div>

                </div>

            <input placeholder="Teléfono de contacto" type="text" name="micropost[telefono]" id="micropost_telefono" />

            <input value="<%= "BMDF-%.4d" % current_usuario.microposts.count + "-" + current_usuario.id.to_s %>" class="noShow" type="text" name="micropost[num_orden]" id="micropost_num_orden" readonly/>

            <input placeholder="Notas especiales" type="text" name="micropost[notas]" id="micropost_notas"/>

              <div class="form-group string required micropost_mpago">
                <label class="string required" for="micropost_mpago">
                  <abbr title="required"></abbr> Selecciona tu metodo de pago:
                </label>
                <select class="string required form-control margin-left-15" type="text" name="micropost[mpago]" id="micropost_mpago" />
                  <option value="Deposito">Depósito</option>
                  <option value="Transferencia">Transferencia</option>
                  <option value="Efectivo_Recolección">Efectívo en recolección</option>
                  <option value="Efectivo_Entrega">Efectívo en entrega</option>
                </select>
              </div>

          </div>

        <% if (Time.now).strftime("%H:%M") < '17:40' && (Time.now).strftime("%H:%M") > '08:30' %>
        <input type="submit" name="commit" value="Pedir" class="btn btn-primary" />
        <% else %>
        <label>Nuestro servicio es de 8:30 am a 6:00 pm, este envío quedará agendado para el día de mañana.</label>
        <input type="submit" name="commit" value="Pedir" class="btn btn-primary" />
        <% end %>

      </div>

      <div class="col-lg-7 col-lg-push-1">

        <div id="map-container">
          <div id="map-canvas"></div>
        </div>

      </div>

      </div>

    </form>

</div>

 <script type="text/javascript">
        $(document).ready(function() {
  		$(window).keydown(function(event){
    	if(event.keyCode == 13) {
      	event.preventDefault();
      	return false;
    }
  });
});
</script>


