<div class="col-lg-2 col-lg-push-9">
<h3 style="margin-bottom:0px;"><%= current_usuario.nombre %></h3>
<span><%= link_to "Ir a mi perfil", current_usuario %></span>
<span><%= pluralize(current_usuario.microposts.count, "envío") %></span>
<span><%= current_usuario.microposts.sum(:precio) %></span>
</div>