<% provide(:title, "Contacto | ") %>

<meta name="description" content="Trabaja con nosotros, paquetes para empresas y sugerencias.">
<meta name="keywords" content="Trabaja,trabajo,mensajero,urbano,logística">

<div class="container">

	<div class="row">

		<div class="col-lg-6 col-lg-push-3 text-center">

			<header>
				<h2>Ponte en contacto</h2>
				<p>Tus datos están seguros con nosotros</p>
			</header>

		</div>

	</div>

	<div class="row">
		<div class="col-lg-8 col-lg-push-2">
					<!-- Text -->
			<div class="">
				
				<p>
				  ¿Te interesa chambear con nosotros? mandale un mail al capi <%= mail_to "abraham@bicimensajero.com" %>
				</p>

				<p>
					¿Eres una empresa y necesitas un alto volumen de servicios? Te tenemos un plan a la medida, por favor contactanos con un mail a <%= mail_to "daniel@bicimensajero.com" %> 
				</p>

				<p>
					¿Nos quieres mentar la madre, darnos un arrimón (virtual), o sólo cotorrear? este mail es el adecuado: <%= mail_to "amo@bicimensajero.com" %> 
				</p>

				<p>O sencillamente quieres hablar con el mero mero, mandale un mail a <%= mail_to "ollin@bicimensajero.com" %>
				</p>

			</div>

		</div>
	</div>
</div>