<% provide(:title, "FAQ | ") %>

<meta name="description" content="¿Cómo le hacemos? ¿Qué solidez de demanda tienen? ¿Cubren toda la ciudad o solo ciertas zonas?">
<meta name="keywords" content="Mensajería,Bicimensajeros,sustentable,urbana,urbano,bicicleta,on-demand">

<div class="container">

		<div class="col-lg-6 col-lg-push-3 text-center">
			<h2>Preguntas frecuentes.</h2>
			<p>Soluciones para ti.</p>
		</div>
		
			<div class="row">
				<div class="col-lg-8 col-lg-push-2">
							<!-- Text -->
					<ul>
							<li>
								<b>¿En verdad lo hacen en bicicleta?</b>
								SÍ, BICIMENSAJERO, somos un equipo de trabajo apasionado por el uso de la bicicleta, nuestros miembros son atletas de alto rendimiento que además de realizar el servicio por la compensación económica lo realizan de igual forma como un entrenamiento para superar sus marcas personales y templar su voluntad, los fines de semana de igual manera aplican su entrenamiento diario para realizar recorridos interestatales y/o competencias. (Te invitamos a nuestros recorridos de fin de semana si tienes la voluntad de vencer tus limitaciones y hacer chica tu Ciudad)
							</li>

							<li>
								<b>¿Cubren toda la ciudad o solo ciertas zonas?</b>
								BICIMENSAJERO cubre toda la ciudad y por largo o complicado que parezca cumplimos con el objetivo, existen ciertas zonas en la ciudad marcadas por seguridad pública como zonas roja, en estos casos notificamos al cliente por otra posible solución de entrega.
							</li>
							<li>
								<b>¿Cuántos kilómetros recorren diariamente?</b>
								En BICIMENSAJERO, por kilometraje individual oscila un promedio de 60 a 85 km por día, nuestro record interno por un día de trabajo es de 155km.
							</li>
							<li>
								<b>¿Qué solidez de demanda tienen?</b>
								En BICIMENSAJERO somos un equipo laboral que desde el 2009 ofrece sus servicios y que crece con la demanda y expansión de nuestros clientes, actualmente cubrimos las necesidades logísticas de nuestros clientes sin dificultad.
							</li>
							<li>
								<b>¿Qué es lo que comúnmente se transporta y hasta que pueden llevar?</b>
								En BICIMENSAJERO somos muy versátiles y flexibles a tu necesidad, en la mayor parte nos dedicamos a la parte logística administrativa, llevando tus facturas, cheques y proyectos; también llevamos la paquetería y esas cosas que a veces se suelen olvidar y a nosotros nos puedes encomendar para ayudarte a solucionar un problema. En sistemas de paquetes nuestras mochilas son un sistema pensado para transportar altos volúmenes que no excedan los 20 kilos y que no exceda el volumen de aproximadamente una caja de huevo. (de ser mayor pedimos nos notifiquen anticipadamente para buscar la logística adecuada.)
							</li>
							<li>
								<b>¿Facturan los servicios?</b>
								Por supuesto, somos una empresa sólida que avanza con la ley de nuestra Ciudad.
							</li>
							<li>
								<b>¿Por qué usar a BICIMENSAJERO como ventaja de servicio?</b>
								Le ofrecemos a nuestros clientes la posibilidad de ahorrar tiempo en traslados, costo de pasajes o gasolina, renta o compra de automóvil o motocicleta, costos de nómina y carga social, carga administrativa de personal, tiempo de reclutamiento y selección de personal, capacitación y adiestramiento, uniforme, celular, bolso, etc, y sobre todo; porque somos una empresa socialmente responsable con el medio ambiente y no contaminamos la Ciudad. 
							</li>
					</ul>

				</div>

			</div>
</div>
