<% content_for :for_head do %>
  <meta name="google-site-verification" content="JXnpOvr29gTNULR82l5pRrE1inBClz6e7Ny0KUx9YaU" />
<% end %>

<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>

<meta property="og:site_name" content="Bicimensajero"/>
<meta property="og:url" content="http://www.bicimensajero.com" />
<meta property="og:description" content="Servicio de logística urbana on-demand: Implementando principios de economía colaborativa. Checa cuanto CO2 le estás ahorrando al planeta." />
<meta property="og:image" content="http://www.bicimensajero.com/images/logo.png" />

<meta name="description" content="Servicio de logística urbana on-demand: Implementando principios de economía colaborativa.">
<meta name="keywords" content="Mensajería,sostenible,logística,Bicimensajero,Bicimensajeros,sustentable,urbana,urbano,bicicleta,on-demand,economía,colaborativa">

    <% if logged_in? %>

    	<div class="row">
    	   <%= render 'shared/micropost_form' %>
    	</div>

    <% elsif ingresado? %>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <%= render 'shared/envioempresa_form' %>
                </div>
                <div class="col-lg-2">
                    <%= render 'shared/empresa_info' %>
                </div>
            </div>
        </div>

	<% else %>


<!-- Banner -->
        <div class="main-container">
            <section class="fullscreen cover parallax image-bg overlay">

                <div class="background-image-holder">
                	<%= image_tag 'banner1.jpg', alt: 'bicimensajero', :class => 'background-image' %>
                </div>

                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="mb16">Envía y recibe tu pedido 
                                <br class="hidden-sm" /> en un solo día</h1>
                            <h6 class="uppercase mb32">Sólo con bicimensajero.com</h6>
                        </div>
                       <!--
                        <div class="col-sm-8 col-md-6 mb24">    
                            <img alt="Pic" src="img/vent1.png" />
                        </div>
                       -->
                        <div class="col-sm-12 text-center">                            
                            <%= link_to "Cotiza tu envío gratis", cotizacion_path, :class => 'btn btn-lg btn-filled' %>
                        </div>
                        <div class="col-sm-12">
                            <div class="modal-video-container pull-left">
                                <div class="play-button inline"></div>
                                <div class="modal-video">
                                    <i class="ti-close close-iframe"></i>
                                    <iframe data-src="https://www.youtube.com/embed/tTg5DE77C88" data-autoplay="1"></iframe>
                                </div>
                            </div>
                            <!--end of modal video-->
                           >
                            
                        </div>
                         
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                            <h4 class="uppercase mb80">Así funciona nuestro servicio</h4>
                            <div class="tabbed-content icon-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <i class="ti-mobile icon"></i>
                                            <span>Solicita un bicimensajero</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Utiliza nuestra herramienta para <%= link_to "cotizar", cotizacion_path, :target => '_blank' %>. Crea tu cuenta y en cuanto lo solicites, tu Bicimensajero estará en camino.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <i class="ti-package icon"></i>
                                            <span>Recojemos tu pedido</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Pasamos por tu pedido a donde nos indiques y en caso de solicitar pago en efectivo, se recolectará el dinero en el encuentro.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <i class="ti-location-pin icon"></i>
                                            <span>Entregamos tu pedido </span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Llegamos con el destinatario, entregamos tu paquete, se envia un mail de confirmación y es así como utilizaste nuestro servicio.
                                            </p>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!--end of icon tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

                <section class="bg-secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h3>Conoce un poco más acerca de nosotros</h3>                    
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                <!--end of container-->
                </section>
            
                <section class="p0">
                    <div>
                        <div class="col-sm-12 text-center">  
                        </div>
                    </div>
                    <div class="row masonry masonryFlyIn">
                        <div class="col-md-3 col-sm-6 masonry-item project" >
                            <div class="image-tile inner-title text-center">

                            	<%= link_to unete_path do %>                                    
                                    <%= image_tag 'unete.jpg', alt: 'Trabaja con nosotros' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Únete a nosotros</h5>
                                        <span>Se un bicimensajero</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item project" >
                            <div class="image-tile inner-title  text-center">
                              
                                <%= link_to politicas_path do %>                                    
                                    <%= image_tag 'politicas.jpg', alt: 'Trabaja con nosotros' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Políticas de envío</h5>
                                        <span>Mejorando cada día</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item project" >
                            <div class="image-tile inner-title  text-center">                                

                                <%= link_to faq_path do %>                                    
                                    <%= image_tag 'preguntas.jpg', alt: 'Trabaja con nosotros', width: '100%' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Preguntas frecuentes</h5>
                                        <span>Dudas y sugerencias</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item project">
                            <div class="image-tile inner-title  text-center">                            	

                                <%= link_to acercade_path do %>                                    
                                    <%= image_tag 'cultura.jpg', alt: 'Trabaja con nosotros' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Acerca de nosotros</h5>
                                        <span>Nuestra cultura</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                    </div>
                <!--end of row-->
                </section>

            </div>

			<% end %>
