<% provide(:title, "Políticas | ") %>

<meta name="description" content="Conoce nuestras políticas de envío.">

	<section class="container">

		<div class="row">

			<div class="col-lg-6 col-lg-push-3 text-center">
				<header>
					<h2>Políticas de envío</h2>
					<p></p>
				</header>
			</div>

		</div>

		<div class="row">

			<div class="col-lg-8 col-lg-push-2">

					<!-- Text -->
				<section class="box">

							<p>
							1.- El cliente debe Indicar en forma clara los datos completos de recolección y entrega así como nombres de remitente y destinatario y el detalle de alguna característica del lugar como entre calles. El error de información y/o falta de la misma que no permita concretar el envío será devuelto una vez se liquide el servicio y el regreso del documento.</p>
							<p>

							2.   	Es necesario declarar en forma escrita y veraz lo que se envía, en volumen y peso.
							<p>3.   	Si el Bicimensajero detecta falsedad en la declaración del envío, rechazará la transportación, de notar algo ilícito tiene el derecho a pedir se muestre el contenido y la obligación civil de notificar a las autoridades correspondientes.
							</p>
							<p>	
							4.   	El Bicimensajero sólo realizará actividades de acuerdo a su capacitación: recolectar y entregar en destino. Queda completamente prohibido realizar actividades fuera de la recolección, trasportación y entrega.
							</p>
							<p>
							5.   	De ser solictada una gestión, se solicita el ABC de los paso a seguir para su desarrollo y las líneas abiertas de comunicación para la correcta culminación de la misma.
							</p>
							<p>
							6.   	Bicimensajero México basa su filosofía en la confianza y la amistad sin embargo no tenemos ninguna tolerancia para el lenguaje abusivo y/o comportamiento abusivo hacia nuestra empresa y al servicio que prestamos o nuestros Bicimensajeros. Cualquier cliente que se considere a nuestra discreción abusivo hacia nuestra empresa, Bicimensajero o al servicio que prestamos, resultará en inmediata e irrevocable terminación de la cuenta sin reembolso alguno. Las amenazas de demanda, la calumnia y la difamación de cualquier índole incluyendo redes sociales, etc… son considerados formas de abuso y dará lugar a la terminación irrevocable de la relación comercial sin reembolso alguno.
																</p>

							<header>
								<h3>Nuestro compromiso.</h3>
								<p>BICIMENSAJERO Tiene el compromiso de:</p>
							</header>



							<ul>

							<li>Cumplir con los horarios pactados de 90 minutos en la recolección y entrega dentro de las zonas de cobertura de los Bicimensajeros en el DF y de 150 minutos en el Edo. de México, una vez confirmados los datos de recepción de la información.</li>

							<li>Notificar del monto del cobro antes de cada servicio para su autorización.</li>

							<li>Identificarse oficialmente como Bicimensajero y mantener una imagen pulcra, sana y deportiva siendo nosotros la imagen logística misma de tu empresa.</li>

							<li>Brindar un trato amable y cortes basando en nuestra filosofía de confianza, respeto y amistad.</li>

							<li>Ofrecer el acuse aval digital o físico de la culminación del servicio.</li>

							<li>Brindar un seguimiento empresarial a tus necesidades por medio de los ejecutivos de cuenta en atención humana a nuestros clientes.</li>
							</ul>

							<header>
							<h3>Políticas de transporte:</h3>
								
							</header>


							<ul>
								<li>
							En BICIMENSAJERO realizamos nuestros servicios de una forma rápida, en conciencia con tu producto y el medio ambiente; lo importante es tu entrega por lo que nos reservamos el derecho a elegir la vía y medio de transporte que más convenga para la culminación del mismo.</li>
							<li>
							No nos responsabilizamos en tiempos de entrega por factores ajenos a nuestra logística, como desastre natural o climatológico así como la retención del producto por alguna situación empresarial o judicial.</li>
							</ul>


							<header>
								<h3>Restricciones del servicio.</h3>
								<p>QUEDA COMPLETAMENTE PROHIBIDO:</p>
							</header>

							<ul>
								<li>Enviar y transportara alcohol y sustancias prohibidas.</li>
								<li>Fármacos y medicamentos controlados, incluidas plantas y hierbas.
							Tejidos y órganos del cuerpo, así como células madre y embriones.</li>
								<li>
							Partes de animales, fluidos o sangre.</li>
								<li>
							Armas blancas como cuchillos o navajas, armas de fuego y explosivos como detonantes y  municiones.</li>
								<li>
							Material pornográfico de menores o contenidos que se puedan percibir como erotismo y pedofilia.</li>
								<li>
							Mercancía de introducción ilícita al país y que viole las leyes aduanales que lo rigen.</li>
								<li>
							Copias de libros, películas, canciones y mercancías no autorizadas y que violen los derechos de autor, consideradas piratería.</li>
								<li>
							Lentes, trasmisores, antenas y materiales que intercepten señales considerados de espionaje en la violación de los derechos de la privacidad individual o atenten a la nación.</li>
								</ul>

					</section>

				</section>

					</div>

<!--inicia testing -->

