<% provide(:title, "Privacidad | ") %>

<meta name="description" content="Conoce nuestras políticas de privacidad.">

<section class="container">

	<div class="row">

		<div class="col-lg-6 col-lg-push-3 text-center">

			<header>
				<h2>Aviso de privacidad</h2>
				<p>Tus datos están seguros con nosotros</p>
			</header>

		</div>

	</div>

	<div class="row">

		<div class="col-lg-8 col-lg-push-2">
					<!-- Text -->
			<div class="">
				
				<p>La empresa <strong>BICIMENSAJERO</strong>, utilizará sus datos personales recabados con los siguientes fines:  Marketing, fiscales, para realizar cobros, para la emisión de facturas, para la realización de envíos.  Para mayor información sobre el tratamiento de sus datos personales usted puede solicitar copia de contrato a 
					<%= mail_to "ollin@bicimensajero.com", "ollin@bicimensajero.com", bcc: "amo@bicimensajero.com" %>
				  
				</p>

			</div>

		</div>

	</div>

</section>