    <% provide(:title, "Cotización | ") %>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    
    <script>

      var rendererOptions = {
        draggable: true
      };
      var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
      var directionsService = new google.maps.DirectionsService();
      var map;

      function initialize() {

        var mapOptions = {
          zoom: 14,
          scrollwheel: false,
          streetViewControl: false,
          componentRestrictions: {country: "mx"},
          mapTypeControl: false
          
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(pos);
          }, 
          function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }

        directionsDisplay.setMap(map);

        google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
          computeTotalDistance(directionsDisplay.getDirections());
        });

        calcRoute();
      }

      function calcRoute() {

        var start = document.getElementById("pide_pickup").value;
        var end = document.getElementById("pide_dropoff").value;

        var request = {
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000.0;
        document.getElementById('pide_distancia').innerHTML = total + ' km';
        

        if (total <= 7) {
          document.getElementById('pide_precio').innerHTML = '$' + '70' + ' billetes verdes (MXN)';
        };

        if (total >= 8 && total <= 12) {
          document.getElementById('pide_precio').innerHTML = '$' + '100' + ' billetes verdes (MXN)';
        };

        if (total >= 13 && total <= 17) {
          document.getElementById('pide_precio').innerHTML = '$' + '150' + ' billetes verdes (MXN)';
        };

        if (total >= 18 && total <= 22) {
          document.getElementById('pide_precio').innerHTML = '$' + '200' + ' billetes verdes (MXN)';
        };

        if (total >= 23) {
          document.getElementById('pide_precio').innerHTML = '$' + Math.ceil(total * 10) + ' billetes verdes (MXN)';
        };

      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Lo sentimos: El servicio de geolocalización falló.';
        } else {
          var content = 'Tu explorador de internet no permite geolocalizarte.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  
    <section id="main" class="container 80%" style="margin-top: 3em !important">

      <div class="box">

        <div>

          <p>
            <label for="pide_pickup">¿A dónde pasamos por tu envío?</label>
            <input type="text" name="pide_pickup" id="pide_pickup" placeholder="Calle, número y colonia"/>
            <label for="pide_dropoff">¿A dónde lo llevamos?</label>
            <input type="text" name="pide_dropoff" id="pide_dropoff" placeholder="Calle, número y colonia"/>
            <input type="" value="Calcular distancia y precio" onclick="calcRoute()" class="btn backgroundColor" readonly/>
          </p>

          <h3>Precio y distancia estimados:</h3>
          <p>Distancia:
           
           <textarea id="pide_distancia"></textarea>
         </p>
         <br>
          <textarea id="pide_precio"></textarea>

        </div>

          <div class="row uniform 50%">

            <div id="map-container">
              <div id="map-canvas"></div>
            </div>

          </div>

      </div>

    </section>


   