<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'messlife',
        limit: '14',
        resolution: 'thumbnail',
        links: 'false',
        clientId: 'e6dc468588a740258f3d998b76938815'
    });
    feed.run();
</script>
<% provide(:title, "Únete | ") %>
<meta name="description" content="Forma parte del equipo y unete a la economía colaborativa.">
<meta name="keywords" content="Trabaja,trabajo,mensajero,urbano,logística,economía,colaborativa">
<div class="container">

<div class="row">
  <div class="col-lg-7 col-lg-push-3 text-center">
    <h3>Gana dinero mientras das el rol en tu bici</h3>
    <p>Tú fijas tus horarios, tu decides cuanto ganas</p>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div id="instafeed"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-push-2">
		<h3 class="text-center">Autoempléate con nosotros</h3>
		<p>Somos una empresa laboral colaborativa que ejerce el préstamo de sus servicios para el ramo de la mensajería, un mercado de atención y respuesta demandante con nuestros clientes, por lo que solicitamos un compromiso real y la confiabilidad del equipo de trabajo.</p>

			<b>Requisitos:</b>
			<ul>
				<li>Sexo indistinto, de 23 a 65 años con excelente condición física y/o trayectoria deportiva.</li>
				<li>Bicicleta</li>
				<li>Casco</li>
				<li>Candado de seguridad para tu bicicleta.</li>
				<li>Mochila de alta resistencia y capacidad cúbica. 35lts aprox.</li>
				<li>Smartphone con plan de datos (toda información y tránsito de operación es realizada por internet y comunicación continua)</li>
				<li>Conocimiento de la ciudad y manejo de mapas.</li>
				<li>Excelente conducción en la Ciudad de México (será evaluado para ingresar al equipo de trabajo)</li>
				<li>Saber trabajar bajo presión y con capacidad para tomar decisiones y resolver problemas.</li>
				<li>Tener un seguro vigente.</li>
				<li>RFC con la homoclave que hacienda te proporciona.</li>
				<p><i>Si NO cumples con la disciplina, la responsabilidad y los requisitos arriba listados, favor de omitir el envío de tu solicitud</i></p>

				<h3>Ofrecemos:</h3>
				<ul>
					<li>La oportunidad de pertenecer y subir a la plataforma más sólida, grande y de mayor trayectoria de  bicimensajeros en México.</li>
					<li>Libertad de ser tú mismo quien mueva sus horarios de trabajo con un sistema de economía colaborativa.</li>
					<li>Pago de honorarios y comisión por el servicio prestado.</li>
					<li>Ser un asociado y formar una carrera empresarial con nosotros.</li>
					<li>Posibilidad de colocación en una empresa cuando así sea solicitado. (tu espada de madera)</li>
					<li>Credencial de membresía para adquirir, promociones con asociados participantes.</li>
					<li>Cursos y capacitación constante.</li>
					<p><i>Bicimensajero ha creado un sistema digital con la experiencia laboral durante años de servicio y hoy abre sus puertas a la expansión y creación del autoempleo y la corresponsabilidad financiera. Si cumples con los requisitos y quieres aumentar tus ingresos únete a nuestra plataforma, si ya cuentas con un grupo establecido de Bicimensajeros regístrate, charla nuestras alianzas y esquemas de consorcio y amplia tus posibilidades de ganar y mantenerte en el mercado.</i></p>
				</ul>
			</ul>

				<h3>¿Quiéres ser un Bicimensajero?</h3>
				<p>Mándanos un mail a <%= mail_to "amo@bicimensajero.com" %> con tu solicitud elaborada, cuéntanos por qué quieres ser parte de nuestro equipo y nosotros estaremos gustosos de contactarte a la brevedad.</p>

	</div>
</div>

</div>