<div class="row">
	<div class="col-lg-6 col-lg-push-3 text-center">
		<h1>Ingresa a tu cuenta</h1>
	</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: ingresa_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(Olvidé mi password)", new_password_reseteo_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Recordar mi sesión en ésta computadora</span>
      <% end %>

      <%= f.submit "Ingresa", class: "btn btn-primary" %>
    <% end %>

    <p>¿Deseas abrir una cuenta empresarial?</p>
    <p>Envianos un mail a <%= mail_to "socios@bicimensajero.com" %></p>
  </div>
</div>