<li id="envioempresa-<%= envioempresa.id %>">
  <%= link_to gravatar_for(envioempresa.empresa), envioempresa.empresa %>
  <span class="user"><%= link_to envioempresa.empresa.nombre, envioempresa.empresa %></span>
  <span class="content"><strong>Orden número:</strong> <%= envioempresa.orden %></span>
  <span class="content"><strong>Recoleccion:</strong> <%= envioempresa.e_calle_re %> <%= envioempresa.e_num_ext_re %>, <%= envioempresa.e_colonia_re %></span>
  <span class="content"><strong>Entrega:</strong> <%= envioempresa.e_calle_de %> <%= envioempresa.e_num_ext_de %>, <%= envioempresa.e_colonia_de %></span>
  <span class="timestamp">
    Pedido hace <%= time_ago_in_words(envioempresa.created_at) %>.
  </span>
</li>