<% provide(:title, "Crea Cuenta | ") %>

<div class="row">
  <div class="col-lg-6 col-lg-push-3 text-center">
    <h3>¡Entregas a domicilio on-demand!</h3>
  </div>
</div>

<div class="row">

  <div class="col-lg-3 col-lg-push-4">
  
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nombre_de_usuario, class: 'margin-0' %>
      <%= f.text_field :nombre, class: 'form-control margin-0' %>

      <%= f.label :email, class: 'margin-0' %>
      <%= f.email_field :email, class: 'form-control margin-0' %>

      <%= f.label :password, class: 'margin-0' %>
      <%= f.password_field :password, class: 'form-control margin-0' %>

      <%= f.label :password_confirmation, "Confirma tu password", class: 'margin-0' %>
      <%= f.password_field :password_confirmation, class: 'form-control margin-0' %>

      <%= f.submit "Crear cuenta gratis" %>
    <% end %>

  </div>

</div>