<h1>Recupera tu password</h1>

<p>Para tener un nuevo password, por favor haz click en el siguiente link</p>

<%= link_to "Renovar password", edit_password_reset_url(@usuario.reset_token,
                                                      email: @usuario.email) %>

<p>El link muere en 2 horas.</p>

<p>
Si tu no pediste que cambiaramos tu password, por favor ignora este email.
</p>
