<h1>Recupera tu password</h1>

<p>Para tener un nuevo password, por favor haz click en el siguiente link:</p>

<%= link_to "Recuperar password", edit_password_reseteo_url(@empresa.reset_token, email: @empresa.email) %>

<p>El link muere en 2 horas.</p>

<p>
Si no pediste que cambiaramos tu password, por favor ignora este email.
</p>