<% provide(:title, "Editar cuenta | ") %>

<div class="row">
  <div class="col-lg-6 col-lg-push-3 text-center">
    <h1>Actualiza tu cuenta</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-lg-push-4">
    <%= form_for(@empresa) do |f| %>
      <%= render 'shared/error_empresa' %>

      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @empresa %>
      <a href="http://gravatar.com/emails" target="_blank">cambiar</a>
    </div>
  </div>
</div>