<% provide(:title, "Empresas | ") %>
<h1>Lista de empresas</h1>

<%= will_paginate %>

<ul class="users">
  <% @empresas.each do |empresa| %>
    <li>
      <%= gravatar_for empresa %>
      
      <% if current_usuario.admin? && !current_empresa?(empresa) %>
    		| <%= link_to "Borrar", empresa, method: :delete, data: { confirm: "Seguro?" } %>
  			<% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>