<div class="row">
	<div class="col-lg-6 col-lg-push-3 text-center">
		<h1>Da de alta una empresa</h1>
	</div>
</div>

<div class="row">

	<div class="col-lg-3 col-lg-push-4">

		<%= form_for(@empresa) do |f| %>
		<%= render 'shared/error_empresa' %>

		  <%= f.label :nombre, class: 'margin-0' %>
	      <%= f.text_field :nombre, class: 'form-control margin-0' %>

	      <%= f.label :email, class: 'margin-0' %>
	      <%= f.email_field :email, class: 'form-control margin-0' %>

	      <%= f.label :password, class: 'margin-0' %>
	      <%= f.password_field :password, class: 'form-control margin-0' %>

	      <%= f.label :password_confirmation, "Confirma el password", class: 'margin-0' %>
	      <%= f.password_field :password_confirmation, class: 'form-control margin-0' %>

	      <%= f.submit "Dar de alta empresa" %>

	    <% end %>

	</div>

</div>
