<% provide(:title, @empresa.nombre + " | ") %>

<div class="row">

	<aside class="col-md-4 col-md-push-1">

		<section class="user_info">

			<h3>
				<%= gravatar_for @empresa %>
			</h3>

			<h3>
				<%= @empresa.nombre %>
			</h3>

			<h4><%= @empresa.email %></h4>

			<%= link_to "Ajustes de mi cuenta", edit_empresa_path(current_empresa), :class => 'btn btn-sm btn-filled' %>

		</section>

	</aside>

	  <div class="col-md-7">

	    <% if @empresa.envioempresas.any? %>
	      <h3>Tus envíos (<%= @empresa.envioempresas.count %>) en total</h3>
	      <ol class="microposts">
	        <%= render @envioempresas %>
	      </ol>
	      <%= will_paginate @envioempresas %>
	    <% end %>
	  </div>

</div>