<h2>Recibimos tu pedido</h2>

<h4>Hola, <%= @empresa.nombre %>:</h4>

<p>
¡Recibimos tu pedido con éxito! <br><br>

<span class="content">Recolectaremos tu pedido en <%= @envioempresa.e_calle_re %> <%= @envioempresa.e_num_ext_re %>, colonia <%= @envioempresa.e_colonia_re %>, y lo llevaremos a <%= @envioempresa.e_calle_de %> <%= @envioempresa.e_num_ext_de %>, colonia <%= @envioempresa.e_colonia_de %></span><br>

<span class="content">Quedó agendado para: <strong><%= @envioempresa.fecha.strftime("%A-%d-de-%B-%Y") %></strong> a partir de las: <strong><%= @envioempresa.hora %></strong> </span><br>

</p>

<p>Cualquier duda, estamos disponible en el chat de atención a clientes dentro de <a href="https//bicimensajero.com">www.bicimensajero.com</a></p>

<p>Por whatsapp al 55-3555-1151</p>

<p>Para revisar el historial de tus pedidos ingresa a tu cuenta en: <a href="https//bicimensajero.com/ingresa">Mi perfil</a></p>

<p>Bicimensajero México</p>
<p>Ignacio Allende #21, ampliación Torreblanca, DF</p>

<p>Favor de no contestar este email, cualquier duda, por favor escribenos a: amo@bicimensajero.com</p>