<h2>Pedido nuevo #<%= @envioempresa.orden %></h2>

<p>
	<span class="content">Recolección en:
		<strong>
			<%= @envioempresa.e_calle_re %> #EXT <%= @envioempresa.e_num_ext_re %>, #INT <%= @envioempresa.e_num_int_re %>, colonia <%= @envioempresa.e_colonia_re %>
		</strong> <br>
                <strong>El <%= l(@envioempresa.fecha, format: :short) %></strong> a las: <strong><%= @envioempresa.hora %></strong>
	</span>
</p>

<p>Con <strong><%= @envioempresa.e_remitente %> (Teléfono: <%= @envioempresa.telefono %> )</strong></p>

<p>
	<span class="content">Entregar en: 
		<strong><%= @envioempresa.e_calle_de %> #EXT <%= @envioempresa.e_num_ext_de %> #INT <%= @envioempresa.e_num_int_de %>, colonia <%= @envioempresa.e_colonia_de %>
		</strong>
	</span>
</p>

<p>Con <strong><%= @envioempresa.e_destinatario %> (Teléfono: <%= @envioempresa.telefono %> )</strong></p>

<p>Método de pago: Factura final</p>

<p><strong>Notas especiales:</strong></p>
<p><%= @envioempresa.notas %></p>
