<h2>Pedido nuevo</h2>
<p><span class="content"><strong>Recolección en:</strong> <%= @micropost.callere %> <%= @micropost.num_ext_re %> Int <%= @micropost.num_int_re %>, colonia <%= @micropost.colonia_re %></span></p>
<p>Con <%= @micropost.remitente %> (Teléfono: <%= @micropost.telefono %> )</p>

<p><span class="content"><strong>Entregar en:</strong> <%= @micropost.calle_de %> <%= @micropost.num_ext_de %> Int <%= @micropost.num_int_de %>, colonia <%= @micropost.colonia_de %></span></p>
<p>Con <%= @micropost.destinatario %> (Teléfono: <%= @micropost.telefono %> )</p>

<p><strong>Método de pago:</strong></p>
<p><%= @micropost.mpago %></p>
<p><%= @micropost.precio %></p>

<p><strong>Notas especiales:</strong></p>
<p><%= @micropost.notas %></p>
