<h2>Recibimos tu pedido y un bicimensajero va en camino</h2>

<h4>Hola, <%= @usuario.nombre %>:</h4>

<p>
¡Recibimos tu pedido con éxito! <br><br>

<span class="content">Recolectaremos tu pedido en <%= @micropost.callere %> <%= @micropost.num_ext_re %>, colonia <%= @micropost.colonia_re %> y lo llevaremos a <%= @micropost.calle_de %> <%= @micropost.num_ext_de %>, colonia <%= @micropost.colonia_re %></span><br>

<span class="content">Este envío tiene un precio de <strong>$<%= @micropost.precio %> MXN</strong> </span><br>

</p>

<p>
	<% if @micropost.mpago == "Deposito" %>
	Datos para depósito: <br>
	<ul>
		<li>Cuenta: 0013048686</li>
		<li>Banco: Banorte</li>
		<li>Nombre: OLIN TONATIUH HERNÁNDEZ VILLALOBOS</li>
		<li>RFC: HEVO 770602 2E0</li>
	</ul>
	<% elsif @micropost.mpago == "Transferencia" %>
	Datos para transferencia: <br>
	<ul>
		<li>CLABE: 072 180000 130486866</li>
		<li>Nombre: OLIN TONATIUH HERNÁNDEZ VILLALOBOS</li>
		<li>Banco: Banorte</li>
		<li>RFC: HEVO 770602 2E0</li>
	</ul>
	<% elsif @micropost.mpago == "Efectivo_Recolección" %>
	Por favor pagar durante la recolección del servicio.
	<% else @micropost.mpago == "Efectivo_Entrega" %>
	Por favor pagar durante la entrega del servicio.
	<% end %>
</p>

<p>Estamos en camino y recibirás una notificación por mail cuando tu envío haya sido completado.</p>
<p>Cualquier duda, estamos disponible en el chat de atención a clientes dentro de <a href="https//bicimensajero.com">www.bicimensajero.com</a></p>

<p>Por whatsapp al 55-3555-1151</p>

<p>Para revisar el historial de tus pedidos ingresa a tu cuenta en: <a href="https//bicimensajero.com/login">Mi perfil</a></p>

<p>Bicimensajero México</p>
<p>Ignacio Allende #21, ampliación Torreblanca, DF</p>

<p>Favor de no contestar este email, cualquier duda, por favor escribenos a: amo@bicimensajero.com</p>