<% provide(:title, "Restablece password | ") %>

<div class="row">
	<div class="col-lg-6 col-lg-push-3 text-center">
		<h1>Ingresa nuevo password</h1>
	</div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for(@empresa, url: password_reseteo_path(params[:id])) do |f| %>
      <%= render 'shared/error_empresa' %>

      <%= hidden_field_tag :email, @empresa.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmar" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Restablecer password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>