<% provide(:title, "Recupera password | ") %>

<div class="row">
	<div class="col-lg-6 col-lg-push-3 text-center">
		<h1>Recupera tu password</h1>
	</div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-offset-4 text-center">
    <%= form_for(:password_reseteo, url: password_reseteos_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Enviar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>