<footer id="footer-1 bg-dark">

          <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                          <%= image_tag 'logo-bicimensajero-light.png', alt: 'Logo', :class => 'logo' %>
                        </div>
                        
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6 margin-bottom-0">
                            <span class="sub">&copy; Copyright 2015 - Bicimensajero</span>
                            
                            <li style="list-style:none;"><i class="fa fa-bicycle iconsColor">&nbsp;<%= link_to "Contacto", contacto_path %></i></li>
                            <li style="list-style:none;">
                              <i class="fa fa-newspaper-o iconsColor">&nbsp;</i>
                              <span class="sub"><a href="http://blog.bicimensajero.com">Blog</a></span>
                            </li>
                            <li style="list-style:none;">
                              <i class="fa fa-hand-spock-o iconsColor">&nbsp;&nbsp;<%= link_to "Únete", unete_path %></i>
                            </li>
                            <li style="list-style:none;"><i class="fa fa-lock iconsColor">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Privacidad", privacidad_path %></i></li>
                            <li style="list-style:none;">Ignacio Allende #21 Colonia Ampliación Torreblanca, 11289, México DF</li>
                            <li style="list-style:none;">
                              <i class="fa fa-envelope-o iconsColor">&nbsp;</i>
                              <span class="sub">amo@bicimensajero.com</span>
                            </li>
                            <li style="list-style:none;">
                              <i class="fa fa-phone iconsColor">&nbsp;</i>
                              <span class="sub">+52 55 3555 1151</span>
                            </li>
                        </div>
                        <div class="col-sm-6 text-right">
                            <h4>Visítanos en redes sociales</h4>
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="https://twitter.com/BicimensajeroMX" target="_blank">
                                        <i class="fa fa-twitter fa-3x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/MensajerosMX" target="_blank">
                                        <i class="fa fa-facebook fa-3x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/explore/tags/messlife/" target="_blank">
                                        <i class="fa fa-instagram fa-3x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/MensajerosDF" target="_blank">
                                        <i class="fa fa-youtube fa-3x"></i>
                                    </a>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/55bf83623bebe0ba0d3d947e/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('.alert-warning').slideUp();
  }, 7000);
 })
</script>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('.alert-success').slideUp();
  }, 7000);
 })
</script>

</footer>
