		<div class="nav-container">
            <a id="top"></a>
            <nav>

                <div class="nav-bar">
                    <div class="module left">
                        <%= link_to root_path do %>
                        	<%= image_tag 'logo-bicimensajero-light.png', width: 200, alt: 'Bicimensajero' %>
                        <% end %>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">

                                <% if logged_in? && current_usuario.admin? %>

                                <%= link_to "Lista de usuarios", usuarios_path, :class => 'btn btn-sm btn-rounded' %>
                                <%= link_to "Lista de empresas", empresas_path, :class => 'btn btn-sm btn-rounded' %>
                                <%= link_to "Da de alta una empresa", altaempresa_path, :class => 'btn btn-sm btn-rounded' %>
                                <%= link_to "Cotiza y pide", root_path, :class => 'btn btn-sm btn-rounded' %>

                                <% elsif logged_in? %>

                                <li>
                                    <%= link_to "Mis pedidos", current_usuario %>
                                </li>
                                <li><%= link_to "Pide un bicimensajero", root_path, :class => 'btn btn-sm noinputborder' %>
                                </li>
                                <li>
                                    <a href="http://blog.bicimensajero.com" target="_blank">
                                        Blog
                                    </a>
                                    
                                </li>

                                <% elsif ingresado? %>
                                <li><%= link_to "Mis pedidos", current_empresa %></li>
                                <li><%= link_to "Pide un bicimensajero", root_path, :class => 'btn btn-sm noinputborder' %>
                                </li>
                                <li><a href="http://blog.bicimensajero.com" target="_blank">Blog</a></li>

                                <% else %>

                                <li>
                                    <%= link_to "Inicio", root_path %>
                                </li>
                                <li>
                                    <%= link_to "Únete", unete_path %>
                                </li>
                                <li>
                                    <a href="http://blog.bicimensajero.com" target="_blank">
                                        Blog
                                    </a>
                                    
                                </li>

                                <li><%= link_to "Empresas", ingresa_path %></li>

                                <% end %>
                               
                            </ul>
                        </div>
                        <!--end of menu module-->
                        <div class="module widget-handle cart-widget-handle left">
                            <div class="cart">
                                <i class="ti-user"></i>
                            </div>
                            <div class="function">
                                <div class="widget">                                 
                                    <hr>

                                    <% if logged_in? && current_usuario.admin? %>
                                    
                                    <%= link_to "Perfil", current_usuario, :class => 'btn btn-sm btn-filled' %>
                                    <%= link_to "Ajustes de mi cuenta", edit_usuario_path(current_usuario), :class => 'btn btn-sm btn-filled' %>
									<%= link_to "Cerrar sesión", logout_path, method: "delete", :class => 'btn btn-sm btn-filled' %>

									<% elsif logged_in? %>

									<%= link_to "Perfil", current_usuario, :class => 'btn btn-sm btn-filled' %>
                                    <%= link_to "Ajustes de mi cuenta", edit_usuario_path(current_usuario), :class => 'btn btn-sm btn-filled' %>
									<%= link_to "Cerrar sesión", logout_path, method: "delete", :class => 'btn btn-sm btn-filled' %>

                                    <% elsif ingresado? %>

                                    <%= link_to "Perfil", current_empresa, :class => 'btn btn-sm btn-filled' %>
                                    <%= link_to "Ajustes de mi cuenta", edit_empresa_path(current_empresa), :class => 'btn btn-sm btn-filled' %>
                                    <%= link_to "Cerrar sesión", salir_path, method: "delete", :class => 'btn btn-sm btn-filled' %>

									<% else %>

									<%= link_to "Crea una cuenta", nuevacuenta_path, :class => 'btn btn-sm' %>
									<%= link_to "Ingresa a tu cuenta", login_path, :class => 'btn btn-sm btn-filled' %>	

									<% end %>

                                </div>
                                <!--end of widget-->
                            </div>
                        </div>
                        <!-- Idioma -->
                        <!--
                        <div class="module widget-handle language left">
                            <ul class="menu">
                                <li class="has-dropdown">
                                    <a href="elements-tabs.html#">ENG</a>
                                    <ul>
                                        <li>
                                            <a href="elements-tabs.html#">French</a>
                                        </li>
                                        <li>
                                            <a href="elements-tabs.html#">Deutsch</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        -->
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>
