<!DOCTYPE html>
<html>
<head>
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <title><%= yield(:title) %>Bicimensajero </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  <meta name="keywords" content="Mensajería,sostenible,logística,Bicimensajero,Bicimensajeros,sustentable,urbana,urbano,bicicleta,on-demand,economía,colaborativa">

  <meta property="og:site_name" content="Bicimensajero"/>
  <meta property="og:url" content="http://www.bicimensajero.com" />
  <meta property="og:description" content="Servicio de logística urbana on-demand: Implementando principios de economía colaborativa. Checa cuanto CO2 le estás ahorrando al planeta." />
  <meta property="og:image" content="http://bicimensajero.com/assets/banner1-5562325e01be936c1596391c37fd168de85360d62b261ba68a2d72eabb158ea8.jpg"/>  
  
  <!-- Start of Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65260813-1', 'auto');
  ga('send', 'pageview');

  </script>  
  <!--End of Google Analytics-->

</head>
<body data-no-turbolink="true">

        <div class="nav-container">
          <%= render 'layouts/header' %>
        </div>
      


    <!--Mostrar Terminal-->
    <div class="">

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>

    </div>

</body>
</html>
